apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: <ТВОЯ_DOCKERHUB>/micro-backend:v1
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: postgres-service
        - name: DB_NAME
          value: appdb
        - name: DB_USER
          value: user
        - name: DB_PASSWORD
          value: pass

